<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer>    
        <div class="sub-menu">
            <ul>
                <li>이용약관</li>
                <li>회사소개</li>
                <li>개인정보처리방침</li>
                <li>입점문의</li>
                <li><a href="/notice/noticeList?reqPage=1" style="text-decoration: none; color: #b3b3b3;">공지사항</a></li>
            </ul>
        </div>
        <div class="footer-content-box">
            <img src="/img/맛zip로고.png">  
            <div class="footer-content"> 
                <div>
                <strong>주식회사 맛Zip</strong>
                <p>서울특별시 영등포구 선유동2로 57 이레빌딩 | 대표이사 : 맛집대표 | 사업자등록번호 000-00-00000
                <br>email : question@matzip.co.kr | 제휴문의 : partnership@matzip.co.kr</p>
                </div>                         
                <div class="call">
                    <img src="/img/call.png">
                    <span>고객만족센터 1588-1000(유료)</span> 24시간, 연중무휴</div>                  
            </div>
            <div class="last">
                주식회사 맛집은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 상품/ 거래정보 및 거래와 관련하여 맛집에 등록된 판매자의 고의 또는 과실로 소비자에게 발생하는 손해에 대해 주식회사 맛집은 책임을 지지 않습니다. 상품 및 거래에 관하여 보다 정확한 정보는 해당 판매자에게 직접 확인하여 주시기 바랍니다. Copyright MatZip. All Rights Reserved.
            </div>
        </div>                
    </footer>
</html>