<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curve Outside in Active Tab</title>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/side-menu.css">
</head>

<body>
  <div class="navigation">
    <ul>
      <li class="list">
        <a class="active" href="#">
          <span class="material-icons">account_circle</span>
          <span class="title">내 정보 조회</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="material-icons">add_business</span>
          <span class="title">매장 등록</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="material-icons">storefront</span>
          <span class="title">매장 정보/관리</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="material-icons">calendar_month</span>
          <span class="title">예약 관리</span>
        </a>
        <ul>
          <li class="sub-list">
            <a href="#">
              <span class="title">현재 예약 내역</span>
            </a>
          </li>
          <li class="sub-list">
            <a href="#">
              <span class="title">과거 예약 내역</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <script src="/js/side-menu.js"></script>
</body>
</html>
