<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curve Outside in Active Tab</title>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/side-menu.css">
</head>

<body>
  <div class="navigation">
    <ul>
      <li class="list">
        <a href="/store/bussinessNumberCheck">
          <span class="material-icons">add_business</span>
          <span class="title">매장등록</span>
        </a>
      </li>
      <li class="list">
        <a href="/store/myStore">
          <span class="material-icons">storefront</span>
          <span class="title">매장 관리</span>
        </a>
      </li>
      <li class="list">
        <a href="/reserve/reserveManage" class="active">
          <span class="material-icons">calendar_month</span>
          <span class="title">예약 관리</span>
        </a>
      </li>
    </ul>
  </div>
  <script src="/js/side-menu.js"></script>
</body>
</html>
