<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>매장정보</title>
<link rel="stylesheet" href="/css/storeInfo.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/notice.css">
<link rel="stylesheet" href="/css/side-menu.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="content">
    	<!--사이드메뉴-->
		<div class="navigation">
			<ul>
				<li class="list">
					<a href="/admin/allMember?reqPage=1">
						<span class="material-icons">account_circle</span>
						<span class="title">전체회원조회</span>
					</a>
				</li>
				<li class="list">
					<a href="/admin/allStore?reqPage=1">
						<span class="material-icons">storefront</span>
						<span class="title">매장 관리</span>
					</a>
				</li>
				<li class="list">
					<a href="/admin/reportList?reqPage=1">
						<span class="material-icons">calendar_month</span>
						<span class="title">신고 관리</span>
					</a>
				</li>
				<li class="list">
					<a href="#">
						<span class="material-icons">calendar_month</span>
						<span class="title">블랙리스트관리</span>
					</a>
					<ul>
						<li class="sub-list">
							<a href="/admin/storeBlackList?reqPage=1">
								<span class="title">매장블랙리스트</span>
							</a>
						</li>
						<li class="sub-list">
							<a href="/admin/memberBlackList?reqPage=1">
								<span class="title">회원블랙리스트</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!--//사이드메뉴-->
    	 <div class="sss-content2">
            <div><h3 class="s-title33">매장 정보<h3></div>
            	<div class="s-smallTitle" th:if="${store.storeStatus}==2">[매장승인필요]</div>	
            	<div  class="s-adminStoreInfo">
          		<div class="s-storeId" ><span th:text="${member.memberId}"></span><span>님의 매장</span></div>
          		<div class="s-storeImgBox">
	          		<img th:src="'/store/'+${store.storeImg}" class="s-img" style="width: 250px;height: 250px;border-radius: 10px;margin-left: 150px;">  
          		</div>
            	<table class="storeInfoTbl">
            		<tr>
            			<th width="25%">[증빙서류]</th>
            			<td class="s-fileDown" width="65%">
            				<th:block th:each="file : ${store.fileList}">
								<a th:href="@{/admin/filedown(filename=${file.filename},filepath=${file.filepath})}" th:text="${file.filename}"></a>
							</th:block>
            			</td>
            		</tr>
            		<tr>
						<th>[사업자번호]</th>
						<td th:text="${store.businessNo}"></td>
					</tr>
					<tr>
						<th>[매장명]</th>
						<td th:text="${store.storeName}" ></td>
					</tr>
					<tr>
						<th>[음식타입]</th>
						<td th:text="${store.foodType}" ></td>
					</tr>	
					<tr>
						<th>[주변역]</th>
						<td th:text="${store.subwayName}" ></td>
					</tr>
					<tr>
						<th>[주소]</th>
						<td th:text="${addr}"></td>
					</tr>
					<tr>
						<th>[연락처]</th>
						<td th:text="${store.storePhone}"></td>
					</tr>
					<tr>
						<th>[영업시간]</th>
						<td>
							<span th:text="${store.openingHour}"></span>
							<span>부터</span>
							<span th:text="${store.closingHour}"></span>
							<span>까지</span>
						</td>
					</tr>
            	</table>
            			<div class="s-storeInfolast">
							<a th:if="${store.storeStatus==1}" th:href="@{/search/conveyStoreInfoToDetail(storeNo=${store.storeNo})}" class="storeInfoBox">매장가기</a>
							<a th:if="${store.storeStatus==2}" th:href="@{/admin/storeStatus(storeNo=${store.storeNo})}" class="storeInfoBox">승인하기</a>	
							<a th:href="@{/admin/memberView(memberNo=${member.memberNo})}" class="storeInfoBox" style="background-color: #FFA648">회원정보</a>
							<a th:href="@{/admin/storeDelete(storeNo=${store.storeNo})}" class="storeInfoBox" style="background-color: #F15F5F;" onclick="return confirm('정말로 삭제하겠습니까?');">매장 삭제</a>
						</div>						
            	</div>
            </div>
         </div>
    </div>
    <script src="/js/side-menu.js"></script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>