<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Q&A 작성</title>
<style>
	.btn.bc1{
	    width: 600px;
	    height: 40px;
	    font-weight: 600;
	    background-color: #707070;
	    transition: background-color 0.8s ease;
	    border: 2px solid #fff;
	    margin-bottom: 50px;
	}
	.btn.bc1:hover {
		background-color: #72B37E; /* 마우스를 올렸을 때의 배경색 */
		color: #fff;
	}
	.boardWrite tr:last-child>td{
		border : 1px solid #fff;
	}
</style>
<link rel="stylesheet" href="/css/notice.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	
	<div class="page-content">
		<div class="page-title">Q&A</div>
		<form action="/board/write" method="post" enctype="multipart/form-data">
			<table class="tbl boardWrite">
				<tr>
					<th style="width:20%;">제목</th>
					<td>
						<input type="text" name="boardTitle" class="input-form">
						<input type="hidden" name="boardWriter" th:value="${session.member.memberNickname}">
					</td>
				</tr>
				<tr>
					<th>첨부파일</th>
					<td style="text-align: left;"><input type="file" name="upfile" multiple></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:left;">
						<textarea id="boardContent" name="boardContent" class="input-form"></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit" class="btn bc1">게시글 작성</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	<script>
		$("#boardContent").summernote({
			height : 500,
			lang : "ko-KR",
			callbacks : {
				onImageUpload : function(files){
					uploadImage(files[0],this);
				}
			},
			disableResize : true,
			disableResizeEditor : true,
			resize : false
		});
		function uploadImage(file,editor){
			const form = new FormData();
			form.append("upfile",file);
			$.ajax({
				url : "/board/editor",
				type : "post",
				data : form,
				processData : false,
				contentType : false,
				success : function(data){
					console.log($(editor));
					$(editor).summernote("insertImage",data);
				},
				error : function(){
					console.log("에러");
				}
			});
		}
		$(document).ready(function() {
		    $('form').submit(function() {
		        var title = $('input[name="boardTitle"]').val();
		        var content = $('#boardContent').val();
		        
		        if (title.trim() === '' || content.trim() === '') {
		            alert('제목과 내용을 모두 입력해주세요.');
		            return false;
		        }
		    });
		});
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>