<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="mid">
	        <div class="pwchange-title">비밀번호변경</div>
	        <div class="pwchange-box">
	            <form action="/member/updatePw" method="post">
	            	 <div>                  
                    	<label for="memberId">아이디</label>
                    	<input type="text" name="memberId" id="memberId" readonly>
               		</div>
	                <div>
	                    <label for="memberPw">비밀번호 입력</label>
	                    <input type="password" name="memberPw" id="memberPw">
	                </div>
	                <div>
	                    <label for="memberPwRe">비밀번호 확인</label>
	                    <input type="password"  id="memberPwRe">
	                </div>
	                <button type="submit">변경하기</button>  
	            </form>          
	        </div>        
		</div>
	<th:block th:include="common/footer"></th:block>
	
	<script>
        const inputId = new URLSearchParams(window.location.search);
        const memberId = inputId.get('memberId');
        document.getElementById("memberId").value = memberId;
        
		$("#memberPwRe").on("keyup",function(){
    		
    		const memberPw = $("#memberPw").val();
    		const memberPwRe = $("#memberPwRe").val();
    		
    		if(memberPw == memberPwRe){
    						
				$("#memberPw").css("border", "1px solid blue");
				$("#memberPwRe").css("border", "1px solid blue");            
    		}else{ 
				$("#memberPw").css("border", "1px solid red");
				$("#memberPwRe").css("border", "1px solid red");
    		}
    	});
    </script>	
</body>
</html>