@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #5b5555;
}

main {
  background: #fff;
}

.page-title{
  font-size: 40px;
  height: 60px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  color: #404040;
}

.page-content{
  /*flex-grow: 1;*/
  width: 950px;
  box-sizing: border-box;
}

.content-wrap{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.article{
  border: #eff1eb;
  box-shadow: 0 0 0 3px #eff1eb ;
  border-radius: 5px;
  padding: 10px;
}

.small-article{
  border: #eff1eb;
  box-shadow: 0 0 0 3px #eff1eb ;
  border-radius: 5px;
  padding: 10px;
}

.article-title{
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: #404040;
  margin-bottom: 30px;
}

.article-content{
  margin-top: 20px;
}

.float{
  overflow: hidden;
}


.smallBtn{
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1;
}

.middle-btn{
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.large-btn{
  width: 120px;
  height: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}



/* 배경 색 */

.bg-green{
  background-color: #78c386;
  color: #fff;
}
.bg-green-thick{
  background-color: #407d4b;
  color:#fff;
}
.bg-blue{
  background-color: #007fff;
  color: #fff;
}
.bg-red{
  background-color: #e53e3e;
  color: #fff;
}
.bg-gray{
  background-color: #707070;
  color: #eff1eb
}
