<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="mid">
        <div class="id-search-title">
            <h3>아이디 찾기</h3>
            <span>본인확인 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.</span>
        </div>
        <div class="id-search-wrap">            
            <form  action="#" method="post">
                <div>
                    <label for="id-search-name">이 름</label>
                    <input type="text" name="memberName" id="id-search-name"><span id="checkName"></span>
                </div>
                <div>
                    <label for="id-search-email">이메일</label>
                    <input type="text" name="memberEmail" id="id-search-email">
                    <button type="button" name="id-search-email-btn" id="id-search-email-btn">인증번호받기</button>                    
                </div>
                </form>
                <div class="pass-num-box" style="display:none;">
                    <input type="text" name="pass-num" id="pass-num" placeholder="인증번호 6자리입력">
                    <button type="button" name="pass-num-btn" id="pass-num-btn">인증하기</button>
                </div>
                <div class=idInfo-box style="display:none;">
                		<button id="openModalBtn">내 ID 보기</button>
       					<div id="myModal" class="modal-hg">
           					<div class="modal-content-hg">
                			<span class="close-hg">&times;</span>
               			 	<p></p>
            				</div>
       				 	</div>
                	</div>                
        		</div>
    		</div>    
    <th:block th:include="common/footer"></th:block>
    
    <script>
    	/*
    	$("#id-search-name").on("change",function(){
    		const memberName = $(this).val();
    		$.ajax({
    			url: "/mail/checkName",
    			type:"get",
    			data:{memberName : memberName},
    			success : function(data){
    				if(data==0){
    					$("#checkName").text(" ---- 확인불가");
    					$("#checkName").css("color","red");
    					$("#id-search-name").css("border", "1px solid red");
    				}else if(data==1){
    					$("#checkName").text(" ------ 확인");
    					$("#checkName").css("color","blue");
    					$("#id-search-name").css("border", "1px solid blue");
    				}
    			},
    			error : function(){
    				console.log("error");
    			}
    		});
    	});
    	*/
    	
		let mailCode = null;    
    	$("#id-search-email-btn").on("click", function() {
    	    const memberName = $("#id-search-name").val();
    	    const memberEmail = $("#id-search-email").val();
    	   
    	    $.ajax({
    	        url: "/mail/checkName",
    	        type: "get",
    	        data: { memberName: memberName, memberEmail: memberEmail },
    	        success: function(data) {
    	            if (data === "1") {
    	                $.ajax({
    	                    url: "/mail/sendMail",
    	                    type: "post",
    	                    data: { memberEmail: memberEmail },
    	                    success: function(data) {    	                    	
    	                        $("#checkName").text(" ------ 확인");
    	                        $("#checkName").css("color", "blue");
    	                        $("#id-search-name").css("border", "1px solid blue");
    	                        $("#id-search-email").css("border", "1px solid blue");
    	                        console.log(data);
    	                        $(".pass-num-box").show();
    	                        mailCode = data;
    	                    },
    	                    error: function() {
    	                        console.log("이메일 전송 에러");
    	                    }
    	                });
    	            } else if (data === "0") {
    	                $("#checkName").text(" ---- 확인불가");
    	                $("#checkName").css("color", "red");
    	                $("#id-search-name").css("border", "1px solid red");
    	                $("#id-search-email").css("border", "1px solid red");
    	            }
    	        },
    	        error: function() {
    	            console.log("에러");
    	        }
    	    });
    	});
    	
    	$("#pass-num-btn").on("click",function(){
    		const passNum = $("#pass-num").val();
    		if(passNum == mailCode){
    			$("#pass").text("인증완료 ");
				$("#pass").css("color","blue");
				$("#pass-num").css("border", "1px solid blue");
                $(".idInfo-box").show();
    		}else{
    			$("#pass").text("인증번호를 확인하세요");
				$("#pass").css("color"," red");
				$("#pass-num").css("border", "1px solid red");
    		}
    	});
    	   
    	
    	document.addEventListener('DOMContentLoaded', function () {
    	    var modal = document.getElementById('myModal');
    	    var btn = document.getElementById('openModalBtn');
    	    var span = document.getElementsByClassName('close-hg')[0];

    	    btn.addEventListener('click', function () {
    	    	const memberName = $("#id-search-name").val();
        	    const memberEmail = $("#id-search-email").val();
        	    
        	    $.ajax({
        	    	url: "/mail/getMemberId",
        	        type: "get",
        	        data: { memberName: memberName, memberEmail: memberEmail },
        	        success: function(memberId){
        	        	if(memberId == null){
        	        		$("#myModal p").text("정보를 불러오지 못했습니다.");
        	        	}else{
        	        		$("#myModal p").text("아이디는 [" + memberId + "] 입니다.");
                            modal.style.display = 'block';
        	        	}
        	        }
        	    });    	       
    	    });

    	    span.addEventListener('click', function () {
    	        modal.style.display = 'none';
    	    });

    	    window.addEventListener('click', function (event) {
    	        if (event.target === modal) {
    	            modal.style.display = 'none';
    	        }
    	    });
    	});

    </script>
</body>
</html>